name: Build V8

on:
  workflow_dispatch:
    inputs:
      commit:
        description: 'commit'
        required: false
        default: ''
      name:
        description: 'name'
        required: false
        default: ''
      patch:
        description: 'patch'
        required: false
        default: ''

jobs:
  build-v8:
    runs-on: ubuntu-latest

    env:
      COMMIT: ${{ github.event.inputs.commit }}
      NAME: ${{ github.event.inputs.name }}
      PATCH: ${{ github.event.inputs.patch }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Required Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip git build-essential curl ninja-build g++ clang xz-utils zip pkg-config

      - name: Clone depot_tools
        run: |
          git clone https://chromium.googlesource.com/chromium/tools/depot_tools.git $HOME/depot_tools

      - name: Build V8
        run: |
          echo 'export PATH=$PATH:"$HOME/depot_tools"' >> $GITHUB_ENV
          source $GITHUB_ENV
          ls
          chmod +x ./v8-linux.sh
          ./v8-linux.sh $COMMIT $NAME $PATCH

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: v8-build-output
          path: v8/out
